<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCf9IT_3VvXiatb5aHnnOg3BWZ2oU4htY4</string>
	<key>GCM_SENDER_ID</key>
	<string>362378516740</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.blubem.app</string>
	<key>PROJECT_ID</key>
	<string>blubem-c0a17</string>
	<key>STORAGE_BUCKET</key>
	<string>blubem-c0a17.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:362378516740:ios:e9907815707fd7a7195851</string>
</dict>
</plist>